.card{
    color: #fff;
    background-image: linear-gradient(90deg, #187658 0%, #156E72 100%);
    cursor: pointer;
    box-shadow: 10px 10px 20px rgb(24, 118, 88);
    border: 1px solid black;

    .content{
        background-color: #fff;
        color: black;
        padding: 10px;
        border-radius: 6px;
    }

    &.active{
        &::after{
            content: '';
            width: 25px;
            height: 25px;
            background: #156E72;
            position: absolute;
            top: 50%;
            right: -15px;
            transform: translateY(-45%) rotate((45deg))
        }
    }
}

.card:hover{
    transform: translateY(-5px);
}